.chat-side
  .side-header
    %p.side-header__username
      = current_user.name
    .side-header__box
      = link_to "#", class: "side-header__box__new-group" do
        = icon('fas', 'edit')
        %span<>
      = link_to edit_user_path(current_user), class: "side-header__box__edit-user" do
        = icon('fas', 'cog')
        %span<>

  .groups
    %ul.group
      %li.group__name
        グループ名
      %li.group__latest-message
        最新のメッセージ


